body {
  width: 100%;
}

header {
  padding: 2em;
  height: 100vh;
  text-align: center;
  font-size: 25;
  font-family: 'Shadows Into Light Two', cursive;
  color: rgb(242, 247, 175);
  width: 100%;
  background-image: url("images/IMG_0666.JPG");
  background-attachment: fixed;
  background-position: no-repeat;
  background-size: cover;
  }

main {      
  background-image: url("images/NightSky.jpg");
  background-attachment: fixed;
  background-position: no-repeat;
  background-size: auto;
  width: 100%;
  }

nav {
  position: fixed;
  padding: 0;
  top: 8px;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-family: 'Shadows Into Light Two', cursive; 
  background-color: rgb(20, 5, 0);
  }
      
nav a {
  padding: .5em 2em;
  text-decoration: none;
  color: rgb(242, 247, 175);
  margin-left: 200px;
  margin-right: 200px;
  }

nav a:hover {
  background-image:linear-gradient(rgb(20, 5, 0), rgb(190, 94, 16));
  transition: 1.5s ease-in-out;
  opacity: 0.4;
  color: rgb(242, 247, 175);
  }

.sections {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  padding: 11px;
  max-width: 1000px;
  color: rgb(242, 247, 175);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  }

#aboutMe {
  display: grid;
  flex-direction: column;  
  margin: 2rem auto;
  padding: 11px;
  max-width: 1000px;  
  text-align: center;
  line-height: 1.6;          
  }

#pic {
  max-width: 100px;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
 
  #projects article img {
    width: 70%;
    border: 10px solid #333;
 }

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 11px;
  max-width: 1000px;
  color: rgb(20, 5, 0);    
  }

  #projects button {
    font-size: 40px;
    font-family: 'Shadows Into Light Two', cursive; 
    text-align: center;
    justify-items: center;
    background-color: rgb(20, 5, 0);
    text-decoration: none;
    color: rgb(242, 247, 175);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 200px;
    height: 100px;
    width: 80px;
    border: none;
  }

  #projects button:hover {
    background-image:linear-gradient(rgb(20, 5, 0), rgb(190, 94, 16));
    transition: 1.5s ease-in-out;
    opacity: 0.4;
    color: rgb(242, 247, 175);
    }
      
.projects-card {
  border: 10px solid rgb(20, 5, 0);
  padding: 25px;
  max-width: 900px;
  background-image: url("images/Map.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no repeat;
  text-align: center;
  border-radius: 5px;
  }

.projects-card a {
  text-decoration: none;
  color: rgb(20, 5, 0);
  }

#contact {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 0;
  bottom: 2rem;
  width: 5rem;
  height: 13rem;
  justify-content: space-between;
  }

#contact a:hover {
  height: 50rem;
}

h2 {
  font-family: 'Shadows Into Light Two', cursive;
  color: goldenrod;
  }

h3 {  
  font-family: 'Shadows Into Light Two', cursive;
  }
      
footer {
    color: rgb(33, 145, 145);
    text-align: right;
    font-family: 'Shadows Into Light Two', cursive; 
    background-color: rgb(20, 5, 0);
  }

.fa-cog{
  color: black;
}

.html{
  font-size: 16px;
  font-family: sans-serif;
}

h1, h2, h3{
  color: 666;
}

.container{
  width:800px;
  height:400px;
  padding:20px;
  border:1px solid gray;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background: black; 

}

#contact > ul > li:hover{
  padding : 12px;
}